* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: darkcyan;

    --std-font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 15px;
    background-color: var(--primary-color);
}

nav a {
    color: white;
    text-decoration: none;
    font-family: var(--std-font-family);
    font-size: 20px;
}

nav a:hover {
    text-decoration: underline;
}