body {
  margin: 0px;
  padding: 0px;
}

img.icon {
  width: 30px;
}

footer {
  background-color: cadetblue;
  color: azure;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

footer * {
  margin: 5px;
}

footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

p.p-footer {
  font-size: 1.1em;
}
